@import "bulma/bulma.sass";
@import "bulma-carousel/src/sass/index.sass";
@import "pages/page-landing";

@import url('https://fonts.googleapis.com/css?family=Roboto');
$family-sans-serif: 'Roboto', sans-serif;

html {
  padding: 0;
  margin: 0;
}
