doctype html

html(lang="{{ site.lang | default: 'en' }}")

    head
        title {% if page.title %}{{page.title}}{% else %}{{ site.title | escape }}{% endif %}
        link(rel="icon" type="image/png" href="{{'/images/favicon-32x32.svg' | relative_url }}")
        link(rel="stylesheet" href="{{'/assets/css/style.css' | relative_url}}" type='text/css')
        link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css" type='text/css')
        link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css" type='text/css')
        script(src="{{ site.baseurl }}/assets/js/main.js")
        meta(name="viewport" content="width=device-width, initial-scale=1")/

        include meta.pug

    body(class="page {{layout.bodyClass}}")
        include header.pug
        | {{content}}
    include footer.pug