---
bodyClass: page-landing
---

extends default.pug
include mixins/carousel.pug
include mixins/room.pug

block scripts
    script(type="module").
        window.addEventListener("app.load", (e)=> {
            let app = e.detail;
            let page = app.CreateLanding();
            page.load();
            window.addEventListener("resize",() => page.reload() )
        })

block content

    include header.pug

    div(class="trigger")
    div(class="landing pb-6 mb-3")
        | {% for item in site.data.landing.items %}
        div(class="landing-item")
            div(class="hero-landing land" style="background-image:url('{{item.img | relative_url}}'); background-size: cover; background-repeat:   no-repeat;background-position: center center;   ")
                section(class="hero is-fullheight")
                    div(class="hero-head")
                    div(class="hero-body" )
                        div(class="container has-text-centered inner")
                            h1(class="title is-1") {{item.title}}
                            h4(class="subtitle is-4") {{item.subtitle}}
        | {% endfor %}
        div(class="landing-item")
            div(class="hero-landing land")
                div(class="block space")
                div(class="container")
                    div(class="columns is-centered")
                        div(class="column")
                            div(class="card")
                                div(class="card-image")
                                    +carousel("site.data.landing.carousel", "marley")
                                div(class="card-content")
                                    +room("Bob Marley", "1", "no","yes")

                        div(class="column")
                            div(class="card")
                                div(class="card-image")
                                    +carousel("site.data.landing.carousel", "racoon")
                                div(class="card-content")
                                    +room("Racoon", "2", "no","yes")

                        div(class="column")
                            div(class="card")
                                div(class="card")
                                    div(class="card-image")
                                        +carousel("site.data.landing.carousel", "studio")
                                    div(class="card-content")
                                        +room("Studio", "1", "yes","yes")

                div(class="block space")
                div(class="container")
                    div(class="box")
                        | {{content}}

    include footer.pug

