---
bodyClass: page-landing
---

extends default.pug
include mixins/carousel.pug

block scripts
    script(type="module").
        window.addEventListener("app.load", (e)=> {
            let app = e.detail;
            let page = app.CreateLanding();
            page.load();
            window.addEventListener("resize",() => page.reload() )
        })

block content

    include header.pug

    div(class="trigger")
    div(class="landing")
        | {% for item in site.data.landing.items %}
        div(class="landing-item")
            div(class="hero-landing land" style="background-image:url('{{item.img | relative_url}}')")
                section(class="hero is-fullheight")
                    div(class="hero-head")
                    div(class="hero-body" )
                        div(class="container has-text-centered inner")
                            p(class="title") {{item.title}}
                            p(class="subtitle") {{item.subtitle}}
        | {% endfor %}

    div(class="detail")
        div(class="inner")
            div(class="container")
                +carousel("site.data.landing.carousel")
                | {{content}}

    include footer.pug

